@import "tailwindcss";

/* Horizontal & Vertical Scrollbar */

.custom-scrollbar::-webkit-scrollbar {

  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ef4444;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}